* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
    color: #fff;
}

.btn-start{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #607d8b;
    color: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    padding: 15px 25px;
}

.btn-start:hover{
    opacity: 0.9;
}